.section {
    padding-top: 8.125rem;
}

.h1 {
    font-size: 3.5em;
    margin-bottom: 2rem;
    margin-top: 0;
    font-weight: 700;
}

.h2 {
    font-size: 1.875em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

