.footer  {
    background-color: #f9fbffa6;
    display: flex;
    padding: 7rem 0;
}

.footer > div {
    width: 100%;
    max-width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.footer > div > div {
    min-width: 100%;
    width: 50%;
    flex-grow: 1;
}

.footer h4 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer p {
    font-size: 1.25em;
    color: #5F6B94;
    font-weight: 600;
    margin-bottom: 3rem;
}

.footer p:last-of-type {
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.info {
    margin-bottom: 3rem;
}

.info li {
    margin-bottom: 0.75rem;
}

.links {
    display: flex;
    align-items: center;
}

.links li {
    margin-right: 1rem;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 460px;
}

.formContainer h4 {
    font-size: 1.875em;
}

.formContainer p {
    font-weight: 700;
    margin-bottom: 5rem;
}

.formContainer input::placeholder, .formContainer textarea::placeholder {
    color: #636371;
}

.formContainer input, .formContainer textarea {
    font-size: 1rem;
    border: 1px solid #636371;
    border-radius: 6px;
    margin-bottom: 1rem;
    font-family: 'Khula', sans-serif;
    padding: 0.75rem;
    
}

@media screen and (min-width: 500px) {
    .footer > div > div {
        min-width: 400px;
        padding-right: 10%;
    }
}


@media screen and (min-width: 1200px) {
    .footer > div {
        max-width: 72rem;
    }
}

@media screen and (min-width: 1300px) {
    .footer > div {
        max-width: 78rem;
    }
}