.container {
    padding-top: 1.5rem;
}

.cards {
    overflow-x: auto;   
    width: 100%;
    display: flex;
    scrollbar-width: none;
}

.cards::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 600px) {
    .container {
        padding-top: 5rem;
    }
}